.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #254451;
    background-color: var(--prm-gray);
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
.done {
    background-color: var(--prm-color);
    color: #fff;
}
.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);

}

:root {
    --prm-color: #0000ff;
    --prm-gray: #979797;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  .kbw-signature { width: 100%; height: 200px;}
#sig canvas{
  width: 100% !important;
  height: auto;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height:200px;
  background-color: white;
}
#bglunas {
  position: relative;
  overflow: hidden;
  background: transparent;
  /* color: white; */
  /* transform: rotate(30deg); */
}
#bglunas::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  /* z-index: -1; */
  background-size: 100% 100%;
  background: url(http://127.0.0.1:8000/bglunas) 0 0 no-repeat;
  background-position: center;
  transform: rotate(-30deg);
}
/* dl {
  width: 100%;
  overflow: hidden;
  background: #ff0;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  background: #cc0;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  background: #dd0;
  padding: 0;
  margin: 0
} */